//          - Component BTN 

@mixin button-reverse-color($color)
  color: $color
  border-color: $color


.button
  @extend .btn, .btn-block
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.06)
  transition: all $transition-default
  &--main
    @extend .button
    @extend .btn-primary
  &--reverse 
    @extend .button
    border-color: $text
  &--reverse-danger
    @extend .button
    @extend .btn-outline-danger

.button-burger
  padding: 0.25rem 0.75rem
  font-size: 1.25rem
  line-height: 1
  background: transparent
  color: $navbar-dark-color
  border: none
  cursor: pointer
  &:hover
    color: $navbar-dark-hover-color
