//          - Component BTN 

@mixin button-reverse-color($color)
  color: $color
  border-color: $color


.button
  @extend .btn, .btn-block
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.06)
  transition: all $transition-default
  &--main
    @extend .button
    @extend .btn-primary
  &--reverse 
    @extend .button
    border-color: $text
  &--reverse-danger
    @extend .button
    @extend .btn-outline-danger

.button-burger
  font-size: 1.75rem
  line-height: 1
  background: transparent
  color: $navbar-dark-color
  border: none
  cursor: pointer
  &:hover
    color: $navbar-dark-hover-color
  &_title
    text-transform: uppercase
    font-size: .6rem

.button-upload
  @extend .button 
  @extend .btn-outline-primary
  display: flex
  justify-content: center
  align-items: center
  width: 80px
  height: 80px
  cursor: pointer
  &--block
    display: block
    width: 100%
    height: 40px

.button-radio
  @extend .btn, .btn-block, .btn-outline-primary
  // color: $white
  // background-color: lighten($primary, 10%)
  // border-color: $primary

.button-radio-input:checked + .button-radio
  @extend .btn-primary
  .label-title:after
    content: '\f00c'
    font-family: FontAwesome
    font-weight: normal
    font-style: normal
    margin: 0px 0px 0px 10px
    text-decoration: none
