//          - Component FORM

////////////////////
/// FORM
////////////////////

// .form-inline
//   .control-label
//     line-height: $input-height-base
//     text-align: right


.required
  label:after
    content: " *" 
    color: $text

.error_explanation
  @extend .alert
  @extend .alert-danger
  border-radius: 0
  border: none

.field_with_errors
  input
    @extend .is-invalid
  display: flex

.form-actions
  margin: 2rem 0 1rem

.form-links
  font-size: 0.8rem
  text-align: center
  a 
    display: block
    margin-bottom: .3rem