.profile-thumb
  @extend .card
  &:hover
    text-decoration: none
  &_picture
    @extend .card-img-top
  &_body
    @extend .card-body
    padding: .25rem
    font-size: .8rem
    p 
      margin: 0

