///////////// SURCHARGE ION RANGE SLIDER

$slider-primary-color: $primary
$slider-height: 5px


// .range-slider
//   padding: 15px 25px 15px 25px

.irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider
  background: none



.irs-line
  height: $slider-height
//   border-width: 0
//   background-image: none
//   padding: 7px 0
//   top: 25px
//   z-index: 1
//   cursor: pointer


.irs-line-mid, .irs-line-left, .irs-line-right
  background-color: $secondary
  height: $slider-height
//   top: 5px

// .irs-line-left 
//   border-radius: 2px 0px 0px 2px

// .irs-line-right
//   border-radius: 0px 2px 2px 0px

.bar, .irs-bar-edge, .irs-bar 
  background-color: $slider-primary-color
  height: $slider-height
  // border-width: 0
  // background-image: none
  // z-index: 2


// .irs-bar, .irs-bar-edge, .irs-slider 
//   top: 30px

.irs-slider
  background-color: $slider-primary-color
  height: 20px
  width: 20px
  border-radius: 50%
  top: 18px
//   background-image: none
//   border-width: 0
//   margin-top: -7px

  &.state_hover, &:hover 
    background-color: $slider-primary-color

//   // TRICK TO SHOW ARROW MIN:MAX ALWAYS ON TOP OF THE CIRCLE
//   &::after
//     position: absolute
//     content: ''
//     width: 0
//     height: 0
//     border-top: 7px solid $blue
//     border-left: 8px solid transparent
//     border-right: 8px solid transparent
//     top: -20px
//     left: 50%
//     margin-left: -8px


// .irs
//   height: 63px
//   margin-top: 20px

// .irs-grid 
//   height: auto
//   bottom: 6px

.irs-from, .irs-to, .irs-single
  background-color: $slider-primary-color
  &:after
    border-top-color: $slider-primary-color
//   font-size: 1.4rem
//   font-weight: 500
//   top: -23px
//   padding: 5px 7px 4px 7px



.irs-min, .irs-max  
  background-color: transparent
//   font-size: 1.3rem
//   line-height: normal
//   font-weight: 500
//   font-size: 1.2rem
//   bottom: 0
//   top: auto
//   color: #a7a7a7
//   padding: 0

//   visibility: visible !important // or it will be hidden by the lib when the slider value will be at the same level

// .irs-grid-pol.small
//   display: none

// .irs-grid-pol
//   display: none




// .irs-grid-text
//   font-size: 1.3rem
//   line-height: normal
//   font-weight: 500
//   font-size: 1.2rem
//   bottom: 0
