$icomoon-font-path: "fonts" !default;

$ico-add-path1: "\e900";
$ico-add-path2: "\e901";
$ico-add-path3: "\e902";
$ico-add-path4: "\e903";
$ico-add-reverse-path1: "\e904";
$ico-add-reverse-path2: "\e905";
$ico-add-reverse-path3: "\e906";
$ico-add-reverse-path4: "\e907";
$ico-attachment-path1: "\e908";
$ico-attachment-path2: "\e909";
$ico-attachment-path3: "\e90a";
$ico-attachment-path4: "\e90b";
$ico-attachment-path5: "\e90c";
$ico-attachment-path6: "\e90d";
$ico-bell-path1: "\e90e";
$ico-bell-path2: "\e90f";
$ico-bell-path3: "\e910";
$ico-bell-notif-path1: "\e911";
$ico-bell-notif-path2: "\e912";
$ico-bell-notif-path3: "\e913";
$ico-bell-notif-path4: "\e914";
$ico-bell-notif-path5: "\e915";
$ico-calendar-path1: "\e916";
$ico-calendar-path2: "\e917";
$ico-calendar-path3: "\e918";
$ico-calendar-path4: "\e919";
$ico-calendar-path5: "\e91a";
$ico-calendar-path6: "\e91b";
$ico-calendar-future-path1: "\e91c";
$ico-calendar-future-path2: "\e91d";
$ico-calendar-future-path3: "\e91e";
$ico-calendar-future-path4: "\e91f";
$ico-calendar-future-path5: "\e920";
$ico-calendar-future-path6: "\e921";
$ico-calendar-future-path7: "\e922";
$ico-calendar-future-path8: "\e923";
$ico-calendar-future-path9: "\e924";
$ico-calendar-future-path10: "\e925";
$ico-calendar-future-path11: "\e926";
$ico-calendar-future-path12: "\e927";
$ico-calendar-future-path13: "\e928";
$ico-calendar-future-path14: "\e929";
$ico-calendar-past-path1: "\e92a";
$ico-calendar-past-path2: "\e92b";
$ico-calendar-past-path3: "\e92c";
$ico-calendar-past-path4: "\e92d";
$ico-calendar-past-path5: "\e92e";
$ico-calendar-past-path6: "\e92f";
$ico-calendar-past-path7: "\e930";
$ico-calendar-past-path8: "\e931";
$ico-calendar-past-path9: "\e932";
$ico-calendar-past-path10: "\e933";
$ico-calendar-past-path11: "\e934";
$ico-calendar-past-path12: "\e935";
$ico-calendar-past-path13: "\e936";
$ico-calendar-past-path14: "\e937";
$ico-calendar-reverse-path1: "\e938";
$ico-calendar-reverse-path2: "\e939";
$ico-calendar-reverse-path3: "\e93a";
$ico-calendar-reverse-path4: "\e93b";
$ico-calendar-reverse-path5: "\e93c";
$ico-calendar-reverse-path6: "\e93d";
$ico-calendar-reverse-path7: "\e93e";
$ico-calendar-reverse-path8: "\e93f";
$ico-calendar-reverse-path9: "\e940";
$ico-calendar-reverse-path10: "\e941";
$ico-calendar-reverse-path11: "\e942";
$ico-calendar-reverse-path12: "\e943";
$ico-calendar-reverse-path13: "\e944";
$ico-calendar-reverse-path14: "\e945";
$ico-camera-path1: "\e946";
$ico-camera-path2: "\e947";
$ico-camera-path3: "\e948";
$ico-camera-path4: "\e949";
$ico-camera-path5: "\e94a";
$ico-cgu-path1: "\e94b";
$ico-cgu-path2: "\e94c";
$ico-cgu-path3: "\e94d";
$ico-cgu-path4: "\e94e";
$ico-cgu-path5: "\e94f";
$ico-cgu-path6: "\e950";
$ico-cgu-path7: "\e951";
$ico-clock-path1: "\e952";
$ico-clock-path2: "\e953";
$ico-clock-path3: "\e954";
$ico-clock-path4: "\e955";
$ico-clock-path5: "\e956";
$ico-clock-path6: "\e957";
$ico-clock-path7: "\e958";
$ico-clock-path8: "\e959";
$ico-clock-path9: "\e95a";
$ico-clock-path10: "\e95b";
$ico-clock-path11: "\e95c";
$ico-clock-path12: "\e95d";
$ico-clock-path13: "\e95e";
$ico-clock-path14: "\e95f";
$ico-clock-path15: "\e960";
$ico-clock-path16: "\e961";
$ico-clock-path17: "\e962";
$ico-clock-path18: "\e963";
$ico-clock-path19: "\e964";
$ico-clock-path20: "\e965";
$ico-close-path1: "\e966";
$ico-close-path2: "\e967";
$ico-close-path3: "\e968";
$ico-close-path4: "\e969";
$ico-country-path1: "\e96a";
$ico-country-path2: "\e96b";
$ico-country-path3: "\e96c";
$ico-country-reverse: "\e96d";
$ico-delete-reverse-path1: "\e96e";
$ico-delete-reverse-path2: "\e96f";
$ico-delete-reverse-path3: "\e970";
$ico-delete-reverse-path4: "\e971";
$ico-delete-reverse-path5: "\e972";
$ico-desktop-path1: "\e973";
$ico-desktop-path2: "\e974";
$ico-desktop-path3: "\e975";
$ico-desktop-path4: "\e976";
$ico-desktop-path5: "\e977";
$ico-desktop-path6: "\e978";
$ico-desktop-path7: "\e979";
$ico-desktop-path8: "\e97a";
$ico-desktop-path9: "\e97b";
$ico-disconnect-path1: "\e97c";
$ico-disconnect-path2: "\e97d";
$ico-edit-path1: "\e97e";
$ico-edit-path2: "\e97f";
$ico-edit-reverse-path1: "\e980";
$ico-edit-reverse-path2: "\e981";
$ico-hamburger-path1: "\e982";
$ico-hamburger-path2: "\e983";
$ico-hamburger-path3: "\e984";
$ico-hamburger-path4: "\e985";
$ico-hamburger-path5: "\e986";
$ico-hamburger-path6: "\e987";
$ico-home-path1: "\e988";
$ico-home-path2: "\e989";
$ico-interest-path1: "\e98a";
$ico-interest-path2: "\e98b";
$ico-language-path1: "\e98c";
$ico-language-path2: "\e98d";
$ico-language-path3: "\e98e";
$ico-language-path4: "\e98f";
$ico-language-path5: "\e990";
$ico-language-path6: "\e991";
$ico-location-path1: "\e992";
$ico-location-path2: "\e993";
$ico-location-path3: "\e994";
$ico-location-path4: "\e995";
$ico-location-path5: "\e996";
$ico-location-path6: "\e997";
$ico-location-path7: "\e998";
$ico-location-path8: "\e999";
$ico-location-path9: "\e99a";
$ico-location-path10: "\e99b";
$ico-location-path11: "\e99c";
$ico-location-path12: "\e99d";
$ico-location-path13: "\e99e";
$ico-location-path14: "\e99f";
$ico-location-path15: "\e9a0";
$ico-location-path16: "\e9a1";
$ico-location-path17: "\e9a2";
$ico-location-path18: "\e9a3";
$ico-location-path19: "\e9a4";
$ico-location-path20: "\e9a5";
$ico-location-path21: "\e9a6";
$ico-location-path22: "\e9a7";
$ico-location-path23: "\e9a8";
$ico-location-path24: "\e9a9";
$ico-location-path25: "\e9aa";
$ico-location-path26: "\e9ab";
$ico-location-path27: "\e9ac";
$ico-location-path28: "\e9ad";
$ico-location-path29: "\e9ae";
$ico-location-path30: "\e9af";
$ico-location-path31: "\e9b0";
$ico-location-path32: "\e9b1";
$ico-location-path33: "\e9b2";
$ico-location-path34: "\e9b3";
$ico-location-path35: "\e9b4";
$ico-location-path36: "\e9b5";
$ico-location-path37: "\e9b6";
$ico-location-path38: "\e9b7";
$ico-location-path39: "\e9b8";
$ico-location-path40: "\e9b9";
$ico-location-path41: "\e9ba";
$ico-location-path42: "\e9bb";
$ico-location-path43: "\e9bc";
$ico-location-path44: "\e9bd";
$ico-location-path45: "\e9be";
$ico-location-path46: "\e9bf";
$ico-location-path47: "\e9c0";
$ico-location-path48: "\e9c1";
$ico-location-path49: "\e9c2";
$ico-location-path50: "\e9c3";
$ico-location-path51: "\e9c4";
$ico-location-path52: "\e9c5";
$ico-location-path53: "\e9c6";
$ico-location-path54: "\e9c7";
$ico-mail-path1: "\e9c8";
$ico-mail-path2: "\e9c9";
$ico-mail-reverse: "\e9ca";
$ico-men-path1: "\e9cb";
$ico-men-path2: "\e9cc";
$ico-men-path3: "\e9cd";
$ico-men-mustache-path1: "\e9ce";
$ico-men-mustache-path2: "\e9cf";
$ico-mentions-path1: "\e9d0";
$ico-mentions-path2: "\e9d1";
$ico-mentions-path3: "\e9d2";
$ico-mentions-path4: "\e9d3";
$ico-mirador-path1: "\e9d4";
$ico-mirador-path2: "\e9d5";
$ico-mirador-path3: "\e9d6";
$ico-mirador-path4: "\e9d7";
$ico-mirador-path5: "\e9d8";
$ico-mirador-path6: "\e9d9";
$ico-mirador-participant-path1: "\e9da";
$ico-mirador-participant-path2: "\e9db";
$ico-mirador-participant-path3: "\e9dc";
$ico-mirador-participant-path4: "\e9dd";
$ico-mirador-participant-path5: "\e9de";
$ico-mirador-participant-path6: "\e9df";
$ico-mirador-participant-path7: "\e9e0";
$ico-mirador-reverse: "\e9e1";
$ico-mobile-phone-path1: "\e9e2";
$ico-mobile-phone-path2: "\e9e3";
$ico-mobile-phone-path3: "\e9e4";
$ico-mobile-phone-path4: "\e9e5";
$ico-mobile-phone-path5: "\e9e6";
$ico-mobile-phone-path6: "\e9e7";
$ico-mobile-phone-path7: "\e9e8";
$ico-mobile-phone-path8: "\e9e9";
$ico-people-path1: "\e9ea";
$ico-people-path2: "\e9eb";
$ico-profile-path1: "\e9ec";
$ico-profile-path2: "\e9ed";
$ico-profile-reverse-path1: "\e9ee";
$ico-profile-reverse-path2: "\e9ef";
$ico-search-path1: "\e9f0";
$ico-search-path2: "\e9f1";
$ico-search-reverse-path1: "\e9f2";
$ico-search-reverse-path2: "\e9f3";
$ico-settings-path1: "\e9f4";
$ico-settings-path2: "\e9f5";
$ico-women-path1: "\e9f6";
$ico-women-path2: "\e9f7";
$ico-women-path3: "\e9f8";
$ico-women-hair-path1: "\e9f9";
$ico-women-hair-path2: "\e9fa";
$ico-activites-artistiques-path1: "\e9fb";
$ico-activites-artistiques-path2: "\e9fc";
$ico-activites-artistiques-path3: "\e9fd";
$ico-activites-artistiques-path4: "\e9fe";
$ico-activites-artistiques-path5: "\e9ff";
$ico-activites-artistiques-path6: "\ea00";
$ico-activites-artistiques-path7: "\ea01";
$ico-activites-artistiques-path8: "\ea02";
$ico-activites-artistiques-path9: "\ea03";
$ico-activites-artistiques-path10: "\ea04";
$ico-activites-artistiques-path11: "\ea05";
$ico-activites-artistiques-path12: "\ea06";
$ico-activites-artistiques-path13: "\ea07";
$ico-activites-culinaires-path1: "\ea08";
$ico-activites-culinaires-path2: "\ea09";
$ico-activites-culinaires-path3: "\ea0a";
$ico-activites-culinaires-path4: "\ea0b";
$ico-activites-culinaires-path5: "\ea0c";
$ico-activites-culinaires-path6: "\ea0d";
$ico-activites-culinaires-path7: "\ea0e";
$ico-activites-culinaires-path8: "\ea0f";
$ico-activites-culinaires-path9: "\ea10";
$ico-activites-culinaires-path10: "\ea11";
$ico-activites-culturelles-path1: "\ea12";
$ico-activites-culturelles-path2: "\ea13";
$ico-activites-culturelles-path3: "\ea14";
$ico-activites-culturelles-path4: "\ea15";
$ico-activites-culturelles-path5: "\ea16";
$ico-activites-culturelles-path6: "\ea17";
$ico-activites-culturelles-path7: "\ea18";
$ico-activites-culturelles-path8: "\ea19";
$ico-activites-culturelles-path9: "\ea1a";
$ico-activites-de-detente-path1: "\ea1b";
$ico-activites-de-detente-path2: "\ea1c";
$ico-activites-de-detente-path3: "\ea1d";
$ico-activites-en-ville-path1: "\ea1e";
$ico-activites-en-ville-path2: "\ea1f";
$ico-activites-en-ville-path3: "\ea20";
$ico-activites-en-ville-path4: "\ea21";
$ico-activites-en-ville-path5: "\ea22";
$ico-activites-en-ville-path6: "\ea23";
$ico-activites-en-ville-path7: "\ea24";
$ico-activites-en-ville-path8: "\ea25";
$ico-activites-en-ville-path9: "\ea26";
$ico-activites-ludiques-path1: "\ea27";
$ico-activites-ludiques-path2: "\ea28";
$ico-activites-ludiques-path3: "\ea29";
$ico-activites-ludiques-path4: "\ea2a";
$ico-activites-ludiques-path5: "\ea2b";
$ico-activites-ludiques-path6: "\ea2c";
$ico-activites-ludiques-path7: "\ea2d";
$ico-activites-ludiques-path8: "\ea2e";
$ico-activites-ludiques-path9: "\ea2f";
$ico-activites-manuelles-path1: "\ea30";
$ico-activites-manuelles-path2: "\ea31";
$ico-activites-manuelles-path3: "\ea32";
$ico-activites-manuelles-path4: "\ea33";
$ico-activites-manuelles-path5: "\ea34";
$ico-activites-manuelles-path6: "\ea35";
$ico-activites-manuelles-path7: "\ea36";
$ico-activites-manuelles-path8: "\ea37";
$ico-activites-manuelles-path9: "\ea38";
$ico-activites-manuelles-path10: "\ea39";
$ico-activites-sportives-path1: "\ea3a";
$ico-activites-sportives-path2: "\ea3b";
$ico-activites-sportives-path3: "\ea3c";
$ico-activites-sportives-path4: "\ea3d";
$ico-activites-sportives-path5: "\ea3e";
$ico-activites-sportives-path6: "\ea3f";
$ico-activites-sportives-path7: "\ea40";
$ico-activites-sportives-path8: "\ea41";
$ico-aller-voir-du-sport-path1: "\ea42";
$ico-aller-voir-du-sport-path2: "\ea43";
$ico-aller-voir-du-sport-path3: "\ea44";
$ico-aller-voir-du-sport-path4: "\ea45";
$ico-aller-voir-du-sport-path5: "\ea46";
$ico-aller-voir-du-sport-path6: "\ea47";
$ico-aller-voir-du-sport-path7: "\ea48";
$ico-aller-voir-du-sport-path8: "\ea49";
$ico-aller-voir-du-sport-path9: "\ea4a";
$ico-aller-voir-du-sport-path10: "\ea4b";
$ico-aller-voir-du-sport-path11: "\ea4c";
$ico-aller-voir-du-sport-path12: "\ea4d";
$ico-aller-voir-du-sport-path13: "\ea4e";
$ico-autre-path1: "\ea4f";
$ico-autre-path2: "\ea50";
$ico-autre-path3: "\ea51";
$ico-bar-cafe-path1: "\ea52";
$ico-bar-cafe-path2: "\ea53";
$ico-bar-cafe-path3: "\ea54";
$ico-bar-cafe-path4: "\ea55";
$ico-bar-cafe-path5: "\ea56";
$ico-bar-cafe-path6: "\ea57";
$ico-bricolage-path1: "\ea58";
$ico-bricolage-path2: "\ea59";
$ico-bricolage-path3: "\ea5a";
$ico-bricolage-path4: "\ea5b";
$ico-chanter-path1: "\ea5c";
$ico-chanter-path2: "\ea5d";
$ico-chanter-path3: "\ea5e";
$ico-chanter-path4: "\ea5f";
$ico-chanter-path5: "\ea60";
$ico-chanter-path6: "\ea61";
$ico-chanter-path7: "\ea62";
$ico-chanter-path8: "\ea63";
$ico-chanter-path9: "\ea64";
$ico-chanter-path10: "\ea65";
$ico-chanter-path11: "\ea66";
$ico-chanter-path12: "\ea67";
$ico-chanter-path13: "\ea68";
$ico-chanter-path14: "\ea69";
$ico-chanter-path15: "\ea6a";
$ico-chanter-path16: "\ea6b";
$ico-chanter-path17: "\ea6c";
$ico-chanter-path18: "\ea6d";
$ico-chanter-path19: "\ea6e";
$ico-chanter-path20: "\ea6f";
$ico-chanter-path21: "\ea70";
$ico-chanter-path22: "\ea71";
$ico-chanter-path23: "\ea72";
$ico-cinema-path1: "\ea73";
$ico-cinema-path2: "\ea74";
$ico-cinema-path3: "\ea75";
$ico-cinema-path4: "\ea76";
$ico-cinema-path5: "\ea77";
$ico-cinema-path6: "\ea78";
$ico-concert-path1: "\ea79";
$ico-concert-path2: "\ea7a";
$ico-concert-path3: "\ea7b";
$ico-concert-path4: "\ea7c";
$ico-couture-tricot-path1: "\ea7d";
$ico-couture-tricot-path2: "\ea7e";
$ico-couture-tricot-path3: "\ea7f";
$ico-couture-tricot-path4: "\ea80";
$ico-couture-tricot-path5: "\ea81";
$ico-couture-tricot-path6: "\ea82";
$ico-couture-tricot-path7: "\ea83";
$ico-couture-tricot-path8: "\ea84";
$ico-couture-tricot-path9: "\ea85";
$ico-couture-tricot-path10: "\ea86";
$ico-couture-tricot-path11: "\ea87";
$ico-couture-tricot-path12: "\ea88";
$ico-cuisine-a-la-maison-path1: "\ea89";
$ico-cuisine-a-la-maison-path2: "\ea8a";
$ico-cuisine-a-la-maison-path3: "\ea8b";
$ico-cuisine-a-la-maison-path4: "\ea8c";
$ico-cuisine-a-la-maison-path5: "\ea8d";
$ico-cuisine-a-la-maison-path6: "\ea8e";
$ico-cuisine-a-la-maison-path7: "\ea8f";
$ico-cuisine-a-la-maison-path8: "\ea90";
$ico-danser-path1: "\ea91";
$ico-danser-path2: "\ea92";
$ico-danser-path3: "\ea93";
$ico-danser-path4: "\ea94";
$ico-danser-path5: "\ea95";
$ico-danser-path6: "\ea96";
$ico-danser-path7: "\ea97";
$ico-danser-path8: "\ea98";
$ico-discotheque-path1: "\ea99";
$ico-discotheque-path2: "\ea9a";
$ico-discotheque-path3: "\ea9b";
$ico-discotheque-path4: "\ea9c";
$ico-discotheque-path5: "\ea9d";
$ico-discotheque-path6: "\ea9e";
$ico-discotheque-path7: "\ea9f";
$ico-discotheque-path8: "\eaa0";
$ico-discotheque-path9: "\eaa1";
$ico-discotheque-path10: "\eaa2";
$ico-discotheque-path11: "\eaa3";
$ico-discotheque-path12: "\eaa4";
$ico-discotheque-path13: "\eaa5";
$ico-discotheque-path14: "\eaa6";
$ico-discotheque-path15: "\eaa7";
$ico-discotheque-path16: "\eaa8";
$ico-discotheque-path17: "\eaa9";
$ico-discotheque-path18: "\eaaa";
$ico-discotheque-path19: "\eaab";
$ico-discussion-path1: "\eaac";
$ico-discussion-path2: "\eaad";
$ico-discussion-path3: "\eaae";
$ico-discussion-path4: "\eaaf";
$ico-discussion-path5: "\eab0";
$ico-discussion-path6: "\eab1";
$ico-discussion-path7: "\eab2";
$ico-discussion-path8: "\eab3";
$ico-discussion-path9: "\eab4";
$ico-discussion-path10: "\eab5";
$ico-discussion-path11: "\eab6";
$ico-discussion-path12: "\eab7";
$ico-discussion-path13: "\eab8";
$ico-discussion-path14: "\eab9";
$ico-discussion-path15: "\eaba";
$ico-discussion-path16: "\eabb";
$ico-jardinage-path1: "\eabc";
$ico-jardinage-path2: "\eabd";
$ico-jardinage-path3: "\eabe";
$ico-jardinage-path4: "\eabf";
$ico-jardinage-path5: "\eac0";
$ico-jardinage-path6: "\eac1";
$ico-jardinage-path7: "\eac2";
$ico-jeux-de-cartes-path1: "\eac3";
$ico-jeux-de-cartes-path2: "\eac4";
$ico-jeux-de-cartes-path3: "\eac5";
$ico-jeux-de-cartes-path4: "\eac6";
$ico-jeux-de-cartes-path5: "\eac7";
$ico-jeux-de-cartes-path6: "\eac8";
$ico-jeux-de-cartes-path7: "\eac9";
$ico-jeux-de-cartes-path8: "\eaca";
$ico-jeux-de-cartes-path9: "\eacb";
$ico-jeux-de-cartes-path10: "\eacc";
$ico-jeux-de-cartes-path11: "\eacd";
$ico-jeux-de-cartes-path12: "\eace";
$ico-jeux-de-cartes-path13: "\eacf";
$ico-jeux-de-cartes-path14: "\ead0";
$ico-jeux-de-cartes-path15: "\ead1";
$ico-jeux-de-plateaux-path1: "\ead2";
$ico-jeux-de-plateaux-path2: "\ead3";
$ico-jeux-de-plateaux-path3: "\ead4";
$ico-jeux-de-plateaux-path4: "\ead5";
$ico-jeux-de-plateaux-path5: "\ead6";
$ico-jeux-de-plateaux-path6: "\ead7";
$ico-jeux-de-plateaux-path7: "\ead8";
$ico-jeux-de-plateaux-path8: "\ead9";
$ico-jeux-de-plateaux-path9: "\eada";
$ico-jeux-de-plateaux-path10: "\eadb";
$ico-jeux-de-plateaux-path11: "\eadc";
$ico-jeux-de-plateaux-path12: "\eadd";
$ico-jeux-de-plateaux-path13: "\eade";
$ico-jeux-de-plateaux-path14: "\eadf";
$ico-jeux-de-plateaux-path15: "\eae0";
$ico-jeux-de-plateaux-path16: "\eae1";
$ico-jeux-de-plateaux-path17: "\eae2";
$ico-jeux-de-plateaux-path18: "\eae3";
$ico-jeux-de-plateaux-path19: "\eae4";
$ico-jeux-de-plateaux-path20: "\eae5";
$ico-jeux-de-plateaux-path21: "\eae6";
$ico-jeux-de-plateaux-path22: "\eae7";
$ico-jeux-de-plateaux-path23: "\eae8";
$ico-jeux-de-plateaux-path24: "\eae9";
$ico-jeux-de-plateaux-path25: "\eaea";
$ico-jeux-video-path1: "\eaeb";
$ico-jeux-video-path2: "\eaec";
$ico-jeux-video-path3: "\eaed";
$ico-jeux-video-path4: "\eaee";
$ico-jeux-video-path5: "\eaef";
$ico-jeux-video-path6: "\eaf0";
$ico-jouer-de-la-musique-path1: "\eaf1";
$ico-jouer-de-la-musique-path2: "\eaf2";
$ico-jouer-de-la-musique-path3: "\eaf3";
$ico-jouer-de-la-musique-path4: "\eaf4";
$ico-jouer-de-la-musique-path5: "\eaf5";
$ico-jouer-de-la-musique-path6: "\eaf6";
$ico-jouer-de-la-musique-path7: "\eaf7";
$ico-jouer-de-la-musique-path8: "\eaf8";
$ico-jouer-de-la-musique-path9: "\eaf9";
$ico-jouer-de-la-musique-path10: "\eafa";
$ico-jouer-de-la-musique-path11: "\eafb";
$ico-jouer-de-la-musique-path12: "\eafc";
$ico-jouer-de-la-musique-path13: "\eafd";
$ico-jouer-de-la-musique-path14: "\eafe";
$ico-jouer-de-la-musique-path15: "\eaff";
$ico-musee-path1: "\eb00";
$ico-musee-path2: "\eb01";
$ico-musee-path3: "\eb02";
$ico-musee-path4: "\eb03";
$ico-musee-path5: "\eb04";
$ico-musee-path6: "\eb05";
$ico-musee-path7: "\eb06";
$ico-peindre-dessiner-path1: "\eb07";
$ico-peindre-dessiner-path2: "\eb08";
$ico-peindre-dessiner-path3: "\eb09";
$ico-peindre-dessiner-path4: "\eb0a";
$ico-peindre-dessiner-path5: "\eb0b";
$ico-peindre-dessiner-path6: "\eb0c";
$ico-photographier-path1: "\eb0d";
$ico-photographier-path2: "\eb0e";
$ico-photographier-path3: "\eb0f";
$ico-photographier-path4: "\eb10";
$ico-photographier-path5: "\eb11";
$ico-photographier-path6: "\eb12";
$ico-photographier-path7: "\eb13";
$ico-photographier-path8: "\eb14";
$ico-photographier-path9: "\eb15";
$ico-photographier-path10: "\eb16";
$ico-pique-nique-path1: "\eb17";
$ico-pique-nique-path2: "\eb18";
$ico-pique-nique-path3: "\eb19";
$ico-restaurant-path1: "\eb1a";
$ico-restaurant-path2: "\eb1b";
$ico-restaurant-path3: "\eb1c";
$ico-restaurant-path4: "\eb1d";
$ico-shopping-path1: "\eb1e";
$ico-shopping-path2: "\eb1f";
$ico-soiree-a-la-maison-path1: "\eb20";
$ico-soiree-a-la-maison-path2: "\eb21";
$ico-soiree-a-la-maison-path3: "\eb22";
$ico-soiree-a-la-maison-path4: "\eb23";
$ico-soiree-a-la-maison-path5: "\eb24";
$ico-soiree-a-la-maison-path6: "\eb25";
$ico-soiree-a-la-maison-path7: "\eb26";
$ico-spectacle-path1: "\eb27";
$ico-spectacle-path2: "\eb28";
$ico-spectacle-path3: "\eb29";
$ico-spectacle-path4: "\eb2a";
$ico-spectacle-path5: "\eb2b";
$ico-spectacle-path6: "\eb2c";
$ico-spectacle-path7: "\eb2d";
$ico-spectacle-path8: "\eb2e";
$ico-spectacle-path9: "\eb2f";
$ico-spectacle-path10: "\eb30";
$ico-spectacle-path11: "\eb31";
$ico-sports-a-pied-path1: "\eb32";
$ico-sports-a-pied-path2: "\eb33";
$ico-sports-a-pied-path3: "\eb34";
$ico-sports-a-pied-path4: "\eb35";
$ico-sports-a-pied-path5: "\eb36";
$ico-sports-a-pied-path6: "\eb37";
$ico-sports-a-pied-path7: "\eb38";
$ico-sports-a-pied-path8: "\eb39";
$ico-sports-a-pied-path9: "\eb3a";
$ico-sports-a-pied-path10: "\eb3b";
$ico-sports-a-pied-path11: "\eb3c";
$ico-sports-a-pied-path12: "\eb3d";
$ico-sports-a-pied-path13: "\eb3e";
$ico-sports-a-roue-path1: "\eb3f";
$ico-sports-a-roue-path2: "\eb40";
$ico-sports-a-roue-path3: "\eb41";
$ico-sports-d-eau-path1: "\eb42";
$ico-sports-d-eau-path2: "\eb43";
$ico-sports-d-eau-path3: "\eb44";
$ico-sports-d-eau-path4: "\eb45";
$ico-sports-de-balles-path1: "\eb46";
$ico-sports-de-balles-path2: "\eb47";
$ico-sports-de-balles-path3: "\eb48";
$ico-sports-de-balles-path4: "\eb49";
$ico-sports-de-balles-path5: "\eb4a";
$ico-sports-de-boules-path1: "\eb4b";
$ico-sports-de-boules-path2: "\eb4c";
$ico-sports-de-boules-path3: "\eb4d";
$ico-sports-de-boules-path4: "\eb4e";
$ico-sports-de-boules-path5: "\eb4f";
$ico-sports-de-boules-path6: "\eb50";
$ico-sports-de-combat-path1: "\eb51";
$ico-sports-de-combat-path2: "\eb52";
$ico-sports-de-combat-path3: "\eb53";
$ico-sports-de-combat-path4: "\eb54";
$ico-sports-de-combat-path5: "\eb55";
$ico-sports-de-combat-path6: "\eb56";
$ico-sports-de-combat-path7: "\eb57";
$ico-sports-de-combat-path8: "\eb58";
$ico-sports-de-combat-path9: "\eb59";
$ico-sports-de-combat-path10: "\eb5a";
$ico-sports-de-glisse-path1: "\eb5b";
$ico-sports-de-glisse-path2: "\eb5c";
$ico-sports-de-glisse-path3: "\eb5d";
$ico-sports-de-glisse-path4: "\eb5e";
$ico-sports-de-glisse-path5: "\eb5f";
$ico-sports-de-glisse-path6: "\eb60";
$ico-sports-de-glisse-path7: "\eb61";
$ico-sports-de-glisse-path8: "\eb62";
$ico-sports-de-glisse-path9: "\eb63";
$ico-sports-de-glisse-path10: "\eb64";
$ico-sports-de-glisse-path11: "\eb65";
$ico-sports-de-glisse-path12: "\eb66";
$ico-sports-de-glisse-path13: "\eb67";
$ico-sports-de-glisse-path14: "\eb68";
$ico-sports-de-glisse-path15: "\eb69";
$ico-sports-de-glisse-path16: "\eb6a";
$ico-sports-de-glisse-path17: "\eb6b";
$ico-sports-de-glisse-path18: "\eb6c";
$ico-sports-de-glisse-path19: "\eb6d";
$ico-sports-de-glisse-path20: "\eb6e";
$ico-sports-de-glisse-path21: "\eb6f";
$ico-sports-de-glisse-path22: "\eb70";
$ico-sports-de-glisse-path23: "\eb71";
$ico-sports-de-glisse-path24: "\eb72";
$ico-sports-de-raquettes-path1: "\eb73";
$ico-sports-de-raquettes-path2: "\eb74";
$ico-sports-de-raquettes-path3: "\eb75";
$ico-sports-de-raquettes-path4: "\eb76";
$ico-sports-de-raquettes-path5: "\eb77";
$ico-sports-de-raquettes-path6: "\eb78";
$ico-tourisme-path1: "\eb79";
$ico-tourisme-path2: "\eb7a";
$ico-tourisme-path3: "\eb7b";
$ico-tourisme-path4: "\eb7c";
$ico-tourisme-path5: "\eb7d";
$ico-tourisme-path6: "\eb7e";

