//- Front Variables 

///////////////////////
// TEINTES 
///////////////////////
$primary:   #333367
$secondary: #ffda44
$white:     #fff


$text: darken($primary, 5%)
$text-reverse: $white

///////////////////////
// TYPO 
///////////////////////

$font-family-sans-serif : 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif


////////////////////
// ANIMATIONS
////////////////////

// transition
$transition-duration-default: 350ms
$transition-timing-default: ease
$transition-default: $transition-duration-default $transition-timing-default