$icomoon-font-path: "fonts" !default;

$ico-activites-manuelles-path1: "\e900";
$ico-activites-manuelles-path2: "\e901";
$ico-activites-manuelles-path3: "\e902";
$ico-activites-manuelles-path4: "\e903";
$ico-activites-manuelles-path5: "\e904";
$ico-activites-manuelles-path6: "\e905";
$ico-activites-manuelles-path7: "\e906";
$ico-activites-manuelles-path8: "\e907";
$ico-activites-manuelles-path9: "\e908";
$ico-activites-manuelles-path10: "\e909";
$ico-activites-artistiques-path1: "\e90a";
$ico-activites-artistiques-path2: "\e90b";
$ico-activites-artistiques-path3: "\e90c";
$ico-activites-artistiques-path4: "\e90d";
$ico-activites-artistiques-path5: "\e90e";
$ico-activites-artistiques-path6: "\e90f";
$ico-activites-artistiques-path7: "\e910";
$ico-activites-artistiques-path8: "\e911";
$ico-activites-artistiques-path9: "\e912";
$ico-activites-artistiques-path10: "\e913";
$ico-activites-artistiques-path11: "\e914";
$ico-activites-artistiques-path12: "\e915";
$ico-activites-artistiques-path13: "\e916";
$ico-culture_ico-path1: "\e917";
$ico-culture_ico-path2: "\e918";
$ico-culture_ico-path3: "\e919";
$ico-culture_ico-path4: "\e91a";
$ico-culture_ico-path5: "\e91b";
$ico-culture_ico-path6: "\e91c";
$ico-culture_ico-path7: "\e91d";
$ico-culture_ico-path8: "\e91e";
$ico-culture_ico-path9: "\e91f";
$ico-detente_ico-path1: "\e920";
$ico-detente_ico-path2: "\e921";
$ico-detente_ico-path3: "\e922";
$ico-food_ico-path1: "\e923";
$ico-food_ico-path2: "\e924";
$ico-food_ico-path3: "\e925";
$ico-food_ico-path4: "\e926";
$ico-food_ico-path5: "\e927";
$ico-food_ico-path6: "\e928";
$ico-food_ico-path7: "\e929";
$ico-food_ico-path8: "\e92a";
$ico-food_ico-path9: "\e92b";
$ico-food_ico-path10: "\e92c";
$ico-ludique_ico-path1: "\e92d";
$ico-ludique_ico-path2: "\e92e";
$ico-ludique_ico-path3: "\e92f";
$ico-ludique_ico-path4: "\e930";
$ico-ludique_ico-path5: "\e931";
$ico-ludique_ico-path6: "\e932";
$ico-ludique_ico-path7: "\e933";
$ico-ludique_ico-path8: "\e934";
$ico-ludique_ico-path9: "\e935";
$ico-sport_ico-path1: "\e936";
$ico-sport_ico-path2: "\e937";
$ico-sport_ico-path3: "\e938";
$ico-sport_ico-path4: "\e939";
$ico-sport_ico-path5: "\e93a";
$ico-sport_ico-path6: "\e93b";
$ico-sport_ico-path7: "\e93c";
$ico-sport_ico-path8: "\e93d";
$ico-ville_ico-path1: "\e93e";
$ico-ville_ico-path2: "\e93f";
$ico-ville_ico-path3: "\e940";
$ico-ville_ico-path4: "\e941";
$ico-ville_ico-path5: "\e942";
$ico-ville_ico-path6: "\e943";
$ico-ville_ico-path7: "\e944";
$ico-ville_ico-path8: "\e945";
$ico-ville_ico-path9: "\e946";
$ico-ville_ico-path10: "\e947";
$ico-ville_ico-path11: "\e948";
$ico-ville_ico-path12: "\e949";

