- content_for :current_navigation_section, :events

h1 Derniers événements

- @events.each do |event|
  = render partial: 'events/card', locals: {event: event}

= link_to "Proposer un événement", new_user_event_path, class: "btn btn-primary"