//       - Layout Base

///////////////////////
// LAYOUT 
///////////////////////

// body, html
//   width: 100%
// html
//   font-size: 62.5% // on passe la taille de base à 10px pour les unités en rem : 10px = 1rem (1,4rem = 14px etc)

// body
//   font-size: 1.6rem

//   //// pb scintillement font-weight
//   -webkit-font-smoothing: antialiased
//   -moz-osx-font-smoothing: grayscale

$top-menu-height: 56px
$bottom-menu-height: 4rem



body
  color: $text
  &.main
    padding-top: $top-menu-height
    padding-bottom: $bottom-menu-height


.main-container
  @extend .container 
  padding: 15px




// ///////////////////////
// //  LINK
// ///////////////////////

// a:hover, a:focus
//   text-decoration: none
//   outline: none
