// Navbar top ===================================

.nav-top
  padding: .5rem
  @extend .navbar, .navbar-dark
  background-color: $primary
  > .container

@media (max-width: 576px)
  .nav-top
    > .container
      padding: 0

// Navbar bottom ===================================
.nav-bottom
  @extend .navbar, .navbar-dark, .bg-primary, .fixed-bottom, .navbar-expand
  padding: .5rem 
  text-align: center
  &_list
    @extend .nav, .navbar-nav
    flex-flow: row nowrap
    justify-content: space-between
    width: 100%
  &_item
    list-style: none
    flex-basis: 20%
    &--main
      margin-top: -20px
      &-icon
        border-radius: 50%
        background-color: $primary
        padding: 6px 7px
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8)
        font-size: 2.5rem
      .nav-link
        padding: 0
      .nav-bottom_item-title
        padding-top: 8px
    &-title
      font-size: .5rem
      text-transform: uppercase
    .ico:not(.nav-bottom_item--main-icon)
      font-size: 1.7rem

.nav-link--notif
  position: relative
  display: inline-block
  width: 30px
.nav-link_notif-badge
  position: absolute
  top: 0
  right: 0
  border-radius: 50%
  font-size: .7rem


// bootstrap overrides
.nav-bottom .nav-bottom_list .nav-link
  padding: 0 .4rem

.nav-bottom .nav-bottom_list .nav-bottom_item--main .nav-link
  padding: 0
