$event-meta-height: 80px
$event-picture-height: 200px

.event-header
  position: relative
  &_picture
    position: relative
    background-size: cover
    background-position: center
    width: 100%
    height: $event-picture-height
  &_meta
    display: flex
    justify-content: center
    padding-top: $event-picture-height - ($event-meta-height/2)
    z-index: 50
    &-date, &-icon
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      height: $event-meta-height
      width: $event-meta-height
      background-color: $white
      box-shadow: 0 2px 3px 0 rgba(0,0,0,.075)
      color: $text
    &-date
      margin-right: 16px
      font-weight: 600
      line-height: 1.2
      .day-number
        font-size: 1.8rem
        line-height: .8
      .month
        text-transform: lowercase
        font-size: 1.4rem
    &-icon
      font-size: 3rem
  > section
    padding-top: 30px


.event-show_statuses
  &-card
    @extend .alert, .alert-light
    text-align: center
    color: $text
    &:first-child
      margin-top: 1rem
    &:not(:first-child)
      margin-top: .25rem
    .ico
      font-size: 1.5rem
