p = "Bonjour  #{@resource.firstname},"

p Bienvenue sur ensemble.
p Pour utiliser le site, validez votre email en cliquant ici : 

p = link_to 'Valider mon email', confirmation_url(@resource, :confirmation_token => @token)
